body
{
    background:url("../IMGS/money.jpeg");
    height:100vh;
}
.container
{
    
    background:#dcedc8;
    border:1px solid black;
    height:auto;
    width:auto;
}
.royalHeading{
    font-family: sans-serif;
    text-align:center;
    background: #7dbb36;
}

.middleDiv button {
    margin-top: 3vh;
    margin-left: 5vw;
	background-color: #fff;
	border: 2px solid #ecf0f1;
	border-radius: 50%;
	cursor: pointer;
	color: rgb(0, 117, 235);
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
}
